/* <------------------- Listings -------------------> */
.listings-container {
  width: 70%;
  background-color: aquamarine;
  height: fit-content;
  grid-gap: 0;
}

/* .listings-container .product {
    width: 250px;
} */

.custom .MuiFormControlLabel-label {
  color: #6a6a6a;
  font-size: 14px ;
}
